:root {
  /*
  --main-color: #28112B;
  --secondary-color: #393342;
  --terciary-color: #791560;
  */
  --main-color: #1673bf;
  --secondary-color: #686676; 
  --terciary-color: #08487c;
  --grayblue-color: #9899a1;
}

@keyframes aparecer {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

body, html {
  background-color: #181a1b !important;
}

body, html, p, a, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  
}

.bg-dark {
  background-color: #181a1b !important;
}

.bg-primary{
  background-color: var(--main-color)!important;
}

.bg-secondary{
  background-color: var(--secondary-color)!important;  
}

.bg-grayblue{
  background-color: var(--grayblue-color)!important;  
}

.text-main{
  color:var(--main-color)!important;
}

.text-terciary{
  color: var(--terciary-color)!important;
}

input::placeholder{
  color: #858585!important;
}

textarea::placeholder{
  color: #858585!important;
}
input, textarea{
  color: black!important;
}
.btn-primary{
  background-color: var(--terciary-color)!important;
}

.logo{
  /* filter:drop-shadow(2px 4px 6px black) brightness(120%);*/
  filter:drop-shadow(2px 3px 3px rgb(255, 255, 255)) brightness(150%);
  animation: aparecer 1.5s;
  width: 30%;
  /*  hue-rotate(89deg)  */
}


.main-hero{
  background-image: url(../img/main-bg-dark.jpg);
  background-size: auto;
  background-position: center;
  /*filter: brightness(0.6);*/
}

footer a, p, h3 {
  color: #858585;
}

.footer-icon {
  color: var(--main-color)!important;
}

.footer-line {
  margin-top: 20px;
  text-align: center;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#858585;
  height: 2px;
}

.portfolio-carousel .item {
  color: aliceblue;
  justify-content: center;
  align-items: center;
  height: 25rem;
  display: flex;
  width: 100%;
  filter: grayscale(80%);
}

.portfolio-carousel .item::after {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 2.3rem; 
  color: #fff;
  text-shadow: 1px 12px 15px #181a1b;
  font-weight: bolder;

  background: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2) 1px,
    transparent 1px,
    transparent 4px
  ),
  repeating-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2) 1px,
    transparent 1px,
    transparent 4px
  );
  pointer-events: none; 
  transition: opacity 0.5s ease; 
  opacity: 0; 
}

.item:hover::after {
  opacity: 1; 
}
.servicios-carousel .item{
  transition: .2s;
}
.servicios-carousel .item:hover {
  transform: scale(1.1); 
}

.item:hover img {
  filter: grayscale(80%) brightness(120%); 
}

.bg-gray{
  background-color: #858585;
}

.form-login input{
 background-color: #d4d4d4!important;
 color: #423336!important;
}

.category-main-container{
  max-height:600px!important;
  filter:grayscale(100%) blur(2px);
  background-position:center;
  background-size: cover;
}

.category-title{
  animation: aparecer 1.5s;
  left: 38% !important;
  top: 40% !important;
  font-size: 5rem!important;
  text-shadow: -6px 4px 4px #181a1b;
}

.video-container{
  transition: transform .2s;
}

.video-container:hover{
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .logo{
    width: 80%;
  }
  .item {
    height: 20rem;
  }
  
}
@media (max-width: 768px){
  .category-title{
    left: 21% !important;
  }
}

@media (max-width: 425px){
  .category-title{
    font-size: 3rem!important;
  }
}

@media (max-width: 320px){
  .category-title{
    font-size: 2.5rem!important;
    left: 17% !important;
  }
  .fab, .fa-brands{
    font-size: 2rem!important;
  }
}

.titulo {
  text-shadow: 2px 2px 2px rgba(0,0,0,1);
}

#footer {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

#servicios {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}